<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="buttons">
            <a href="{% url 'create' %}">Добавить запись</a>
            <a href="/admin/">Добавить объект</a>
        </div>
        <h1 class="name-page"><a href="{% url 'index' %}">Главная</a> → Добавить запись</h1>
        <form enctype="multipart/form-data" method="POST" class="create-post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Добавить запись">
        </form>
    </body>
</html>