<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/main.js' %}" defer></script>
    </head>
    <body>
        <div class="buttons">
            <a href="{% url 'create' %}">Добавить запись</a>
            <a href="/admin/Main/nameobject/">Добавить объект</a>
        </div>
        <h1 class="name-page">Главная</h1>
        <h2>Элементы с разделами</h2>
        {% for key, value in dict_home.items %}
            <div class="folder">
                <a href="#" name={{key}} class="open-folder"><h3>Раздел - {{key}} (нажми чтобы открыть)</h3></a>
                <div class="main-container" id={{key}} style="display: none">  
                    {% for val in value %}
                        <a href="{% url 'page_folder' val.id %}">
                            <div class="folder">
                                <p>{{val.name}}</p>
                            </div>
                        </a>
                    {% endfor %} 
                </div>
            </div>
        {% endfor %}
        <h2>Элементы без разделов</h2>
        <div class="main-container">
            {% for item in list_without_home %}
                    <a href="{% url 'page_folder' item.id %}">
                        <div class="folder">
                            <p>{{item.name}}</p>
                        </div>
                    </a>
            {% endfor %}
        </div>
    </body>
</html>