<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="buttons">
            <a href="{% url 'create' %}">Добавить запись</a>
            <a href="/admin/">Добавить объект</a>
        </div>
        <h1 class="name-page">Главная</h1>
        <div class="main-container"> 
            {% for item in all_info %}
                <a href="{% url 'page_folder' item.name %}">
                    <div class="folder">
                        <p>{{item.name}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </body>
</html>