<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div class="buttons">
            <a href="{% url 'create' %}">Добавить запись</a>
            <a href="/admin/">Добавить объект</a>
        </div>
        <h1 class="name-page"><a href="{% url 'index' %}">Главная</a> → {{name_page}}</h1>
        <div class="line-cards">
            {% if info == "Записи не найдены" %}
                <h2>Записи не найдены</h2>
            {% else %}
                {% for item_name, item_time in info %}
                    <a href="{% url 'page_folder_human' name_page item_name%}">
                        <div class="line-card">
                            <div class="description">
                                <h2>{{item_time}}</h2>
                                <h1>{{item_name}}</h1>
                            </div> 
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>