a{
    text-decoration: none;
}

.buttons{
    position: absolute;
    right: 0;
    top: 30px;
}

.buttons a{
    padding: 20px;
    margin: 5px;
    background-color: rgba(0, 0, 255, 0.3);
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.folder{
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.folder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.line-card{
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    display: flex;
    padding: 20px;
}

.line-card .description{
    min-width: 30%;
}

.line-card .images{
    overflow-x: auto;
    display: flex;
    max-height: 500px;
}

.line-card .images img{
    padding: 20px;
    object-fit: contain;
}

.line-cards{
    display: flex;
}

.line-cards-add{
    flex-direction: column-reverse;
}

.create-post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-post label{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.create-post input[type="submit"]{
    margin-top: 10px;
    border: none;
    background-color: white;
    background-color: rgba(0, 0, 255, 0.3);
}

.img_download{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid rgba(0, 0, 255, 0.3);
    margin: 5px 0;
}

#id_photos{
    display: none;
}

.form-download-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OpenSans;
    font-size: 12px;
    text-align: center;
    background-color:  rgba(0, 0, 255, 0.1);
    border: 3px solid  rgba(0, 0, 255, 0.3);
    cursor: pointer;
}

@media screen and (min-width: 545px) {
    .name-page{
        margin-bottom: 150px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
    }

    .buttons a{
        font-size: 32px;
        border-radius: 15px;
    }

    .folder{
        font-size: 32px;
    }

    .main-container>* {
        flex: 0 0 33.3%;
    }

    .line-card .description p{
        font-size: 32px;
    }

    .create-post{
        margin-top: 30px;
    }

    .create-post label{
        width: 70%;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }

    .create-post select{
        border-radius: 15px;
        font-size: 32px;
        width: 70%;
        height: 80px;
    }

    .create-post textarea{
        border-radius: 15px;
        font-size: 32px;
        width: 70%;
    }


    .create-post input[type="submit"]{
        height: 80px;
        padding: 20px;
        border-radius: 15px;
        font-size: 32px;
    }

    .img_download{
        font-size: 18px;
    }

    .form-download-photos{
        height: 50px;
        margin: 20px 0 0;
        padding: 8px 20px 7px;
        border-radius: 5px;
    }
}


@media screen and (min-width: 1000px) {
    .name-page{
        margin-bottom: 0px;
    }

    .buttons{
        display: block;
    }

    .buttons a{
        font-size: 16px;
        border-radius: 5px;
    }

    .folder{
        font-size: 16px;
    }

    .main-container>* {
        flex: 0 0 20%;
    }

    .line-card .description p{
        font-size: 24px;
    }

    .create-post label{
        width: 300px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .create-post select{
        border-radius: 5px;
        font-size: 18px;
        width: 300px;
        height: 30px;
    }

    .create-post textarea{
        border-radius: 5px;
        font-size: 18px;
        width: 300px;
    }

    .create-post input[type="submit"]{
        height: 40px;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
    }

    .img_download{
        font-size: 14px;
    }

    .form-download-photos{
        width: 150px;
        height: 35px;
        margin: 10px 0 0;
        padding: 8px 20px 7px;
        border-radius: 5px;
    }
}